body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: salmon;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}
.container {
  padding: 30px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.311);
  text-align: center;
  min-width: 70%;
  line-height: 16px;
}
.input {
  padding: 10px;
}
.meaning-container {
  display: none;
}
